/*----- global -----*/
@font-face {
   font-family:material-design-icon;
   src: url('fonts/Material-Design-Icons.woff');
}
@font-face {
  font-family: fontAwesome;
  src: url('fonts/fontawesome-webfont.woff');
}
body{
  width: 100%;
  background-image:url("homepage-cover.jpg");
  background-size:auto;
  font-family: 'Oxygen', sans-serif;
}
.container{
  width: 100%;
 }
div{width:100%;}
#welcome-paragraph{
  text-align: center;
  /*margin-right: 2em;*/
   font-size: 3em;
   color: #757575;
   padding-top: 3em;
}
#my-name{
  font-family: 'Bree Serif', serif;
  font-size: 2em;
  color:#448AFF;
}
#myquote{
  font-family:'Oxygen',sans-serif;
  font-size:1.8em;
  color:#616161;
  /*padding-bottom:2em; */
  text-align:center;
}
@media screen and (max-width: 420px){
  #welcome-paragraph{
    font-size:2em;
    color: white;
    padding-top: 3em;
  }
  #my-name{
    font-size: 1.2em;
    color:#CDDC39;
  }
  #myquote{
    font-size: 1.4em;
    color:white;
    padding-top: 1em;
  }
}
#es-link,#pdf-link{
  text-decoration: none;
}
.entersite-butt{
  font-size:20px;
  border:2px solid #727272;
  background-color: transparent;
  color: #2196F3;
  width:250px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 1em;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 5px;
}
.pdf-butt{
  font-size:20px;
  border:2px solid #727272;
  background-color: transparent;
  color: #F44336;
  width:250px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 1em;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 5px;
}
.entersite-butt:hover{
  background-color: #727272;
  color:white;
}
.pdf-butt:hover{
  background-color: white;
  color:#F44336;
  border:2px solid white;
}

@media screen and (max-width: 420px) {
   .entersite-butt{
     width:180px;
     font-size: 15px;
     color:#1976D2;
   }
   .pdf-butt{
     width:180px;
     font-size: 15px;
   }

}
#contacts{
  float: right;
}
#contacts a button{
  padding:10px;
  margin: 2px;
  border:3px solid #9E9E9E;
  background-color: #9E9E9E;
  border-radius: 10px;
}
@media screen and (max-device-width:420px) {
  #contacts a button{
    padding:10px;
    margin: 1px;
    border:2px solid #F5F5F5;
    background-color: #F5F5F5;
    border-radius: 10px;
  }

}
#fb-icon{
  color:#3b5998;
}
#fb-icon:hover{
  color: white;
  background-color: #3b5998;
  border-color: #3b5998;
}
#tw-icon{
  color:#55acee;
}
#tw-icon:hover{
  color: white;
  background-color: #55acee;
  border-color: #55acee;
}
#mail-icon{
  color: teal;
}
#mail-icon:hover{
  color:white;
  background-color: teal;
  border-color:teal;
}
