/*----- global -----*/
@font-face {
   font-family:material-design-icon;
   src: url('fonts/Material-Design-Icons.woff');
}
@font-face {
  font-family: fontAwesome;
  src: url('fonts/fontawesome-webfont.woff');
}
body{
  width: 100%;
  background-image:url("homepage-cover.jpg");
  background-size:auto;
  font-family: 'Oxygen', sans-serif;
}
.container{width: 100%;}
div{width:100%;}
#welcome-paragraph{
   font-size: 3em;
   color: white;
   padding-top: 3em;
}
#my-name{
  font-family: 'Pacifico',cursive;
  font-size: 3em;
  color:#448AFF;
}
@media screen and (max-width: 360px){
  #welcome-paragraph{
    font-size:2em;
  }
  #my-name{
    font-size: 2em;
  }
}
.entersite-butt{
  font-size:20px;
  text-decoration: none;
  border:2px solid #727272;
  background-color: transparent;
  color: #2196F3;
  width:250px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 5px;
}
.entersite-butt:hover{
  background-color: #727272;
  color:white;
}
@media query {
   .entersite-butt{
     width:150px;
     font-size: 15px;
   }
}
#contacts{
 margin-top:7em;
 margin-left: 70%;
}
#contacts a button{
  padding:10px;
  margin: 2px;
  border:3px solid #E0E0E0;
  background-color: #E0E0E0;
  border-radius: 10px;
}
@media screen and (max-device-width:420px) {
  #contacts{
   margin-top:9em;
   margin-left: 45%;
  }
  #contacts a button{
    padding:10px;
    margin: 1px;
    border:2px solid #F5F5F5;
    background-color: #F5F5F5;
    border-radius: 10px;
  }
}
#fb-icon{
  color:#3b5998;
}
#fb-icon:hover{
  color: white;
  background-color: #3b5998;
  border-color: #3b5998;
}
#tw-icon{
  color:#55acee;
}
#tw-icon:hover{
  color: white;
  background-color: #55acee;
  border-color: #55acee;
}
#mail-icon{
  color: teal;
}
#mail-icon:hover{
  color:white;
  background-color: teal;
  border-color:teal;
}
